<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>&lt;insert client ID here&gt;</string>
	<key>ClientSecret</key>
	<string>&lt;insert client secret here&gt;</string>
	<key>ClientDomain</key>
	<string>example.com</string>
</dict>
</plist>
